.container{max-width: 1000px;margin: 10px auto;}
.mainbx{
    display: flex;
    gap: 15px;
}
.left{min-width: 300px;}
.right{flex: 1;}
.statement {
    background-color:seagreen;
    color: white;
    padding: 3px 10px;
  }
  .right p{padding: 0 10px;}
  .bx-flex{
    display: flex;
    gap: 10px;    
    align-items: center;
  }
  .bx-flex img{display: inline-block;height: 25px ;width: auto;}